:root {
  /* Colors
  ____________________*/
  --color-primary: #25ab75;
  --color-primary-dark: #208c61;
  --color-bg-primary: #191d2b;
  --color-bg-secondary: #242424;
  --color-bg-footer: #151515;
  --color-white: #ffffff;
  --color-text: #676767;
  --color-border: #373737;

  /* Font & Typography
  ___________________*/
  --ff-body: "Source Sans Pro", sans-serif;
  /* font sizes */
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2rem;
  --fs-xl: 2.4rem;
  --fs-xxl: 3.2rem;
  --fs-biggest: clamp(3rem, 8vw, 5rem);
  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* z-index
  ___________________*/
  --zindex-menu: 1000;
  --zindex-fixed: 1010;

  /* With & Height 
  ------------------*/
  --width-container: 150rem;
  --height-header: 10rem;
  --height-header--scroll: 8rem;

  /* Transition and box shadow*/
  --transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* CSS Reset
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: var(--color-white);
  font-weight: var(--fw-bold);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  border-radius: 15px;
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

main {
  overflow: hidden;
}

body {
  background-color: var(--color-bg-primary);
  font-family: var(--ff-body);
  font-size: var(--fs-md);
  color: var(--color-text);
  margin-top: var(--height-header);
  line-height: 1.2;
}

/* Reusable CSS
--------------------------------------------------------------*/
.container {
  width: 90%;
  max-width: var(--width-container);
  margin: auto;
}

.section {
  padding: 5rem 0;
}

.section__header {
  margin: 6rem 0;
  text-align: center;
}

.section__title {
  font-size: var(--fs-);
  font-size: var(--fs-xxl);
  margin-bottom: 0.5rem;
}

.section__subtitle {
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
  position: relative;
}

.section__subtitle::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 0.5rem;
  background-color: var(--color-primary);
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.d-grid {
  display: grid;
  gap: 3rem;
}

.btn {
  display: inline-block;
  padding: 1.5rem 4rem;
  color: var(--color-white);
  font-weight: var(--fw-semibold);
  transition: var(--transition);
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--primary:hover {
  background-color: var(--color-primary-dark);
}

.btn--secondary {
  background-color: var(--color-white);
  color: var(--color-bg-primary);
}

.btn--secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Header
--------------------------------------------------------------*/
.header {
  background-color: var(--color-bg-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: var(--height-header);
  z-index: var(--zindex-menu);
  transition: var(--transition);
}

.header--scroll {
  height: var(--height-header--scroll);
  box-shadow: var(--box-shadow);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav__brand {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.nav__brand i {
  color: var(--color-white);
}

.nav__list {
  display: flex;
  column-gap: 4rem;
}

.nav__link {
  color: rgb(189, 187, 187);
  transition: var(--transition);
}

.nav__link:hover {
  color: var(--color-primary);
}

.nav__toggle {
  display: none;
  font-size: var(--fs-xl);
  color: var(--color-white);
  cursor: pointer;
  transition: var(--transition);
}

.nav__toggle:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 968px) {
  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg-primary);
    display: none;
    justify-content: center;
    transition: var(--transition);
  }

  .nav__menu--open {
    display: flex;
  }

  .nav__toggle {
    display: block;
  }

  .nav__brand,
  .nav__toggle {
    z-index: var(--zindex-fixed);
  }
}

/* Hero
--------------------------------------------------------------*/
.hero__wrapper {
  display: grid;
  gap: 20rem;
  min-height: calc(100vh - var(--height-header));
  padding: 5rem 0;
}

.hero__wrapper .hero__content {
  text-align: center;
}

.custom-font {
  font-size: var(--fs-biggest);
  margin-bottom: 5rem;
  position: relative;
}

.hero_top_title {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 1rem;
  position: relative;
}

.hero_bottom_title {
  text-align: left;
  color: var(--color-primary);
  font-size: 6rem;
  margin-bottom: 5rem;
  position: relative;
}

.hero__description {
  text-align: left;
  color: rgb(189, 187, 187);
  margin-bottom: 5rem;
}

.hero__info {
  border-top: 1px solid var(--color-border);
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.hero__info-wrapper {
  text-align: left;
  box-shadow: var(--box-shadow);
  padding: 0rem;
}

.hero__info-number {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.hero__info-title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  color: rgb(189, 187, 187);
  margin-bottom: 5rem;
}

.hero__wrapper .hero__img {
  width: 100%;
  justify-self: center;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5); /* Adjust the values as per your preference */
  transform: translate3d(0, -10px, 0); /* Adjust the vertical translation value as per your preference */
}

/* About
--------------------------------------------------------------*/

.about__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5rem;
  gap: 10rem;
}

@media (max-width: 768px) {
  .about__wrapper {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

.about__content {
  max-width: 60rem;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.about__title {
  font-size: var(--fs-xxl);
  margin-bottom: 3rem;
}

.about__description {
  color: rgb(189, 187, 187);
  margin-bottom: 3rem;
}

.skills .skills__title {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
  font-size: var(--fs-lg);
  margin-bottom: 1rem;
}

.skills .skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 768px) {
  .qualification__wrapper {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

.skills__wrapper {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.skills__content {
  border-radius: 5%;
  box-shadow: var(--box-shadow);
  padding: 3rem;
  flex: 1;
}

.skills__item {
  padding: 1rem;
  background-color: #2a2e35;
  color: rgb(189, 187, 187);
  margin-bottom: 1rem;
  border-radius: 10%;
}

.skills__subtitle {
  font-size: var(--fs-lg);
  text-align: center;
  margin-bottom: 2rem;
}



/* Timeline
--------------------------------------------------------------*/

.timeline-item {
  margin-top: -1rem;
  position: relative;
  padding: 2rem;
  border-left: 1px solid var(--light-gray);
}

.timeline-item .timeline-link {
  width: 25%;
  display: inline-block;
  padding: 1rem 1rem;
  color: var(--color-white);
  font-weight: var(--fw-semibold);
  font-size: 1.25rem;
  transition: var(--transition);
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  align-self: center;
}

.timeline-link:hover {
  background-color: var(--color-primary-dark);
}

.timeline-item.fade-in {
  opacity: 1; /* Change the opacity to 1 to fade the item in */
  transform: translateY(0); /* Change the transform to move the item to its original position */
}
@media (max-width: 768px) {

  .timeline .timeline-item {
    padding-left: 1.5rem; /* Adjust the padding for smaller screens */
  }
}

.timeline-item .timeline-first-line {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.timeline-first-line .tl-duration {
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 0.4rem 0.8rem;
  background-color: #2a2e35;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: 500;
  transform: translateY(-22%);
}

.timeline-link  {
  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: var(--transition);
}

.timeline-item h5 {
  margin-top: 0.5rem;
  padding-top: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.timeline-item p {
  margin-top: 1rem;
  color: #b2becd;
}

.timeline-first-line span {
  display: inline-flex;
  color: rgb(189, 187, 187);
  font-weight: 500;
  font-size: 1.75rem;
}

















/* Qualification
--------------------------------------------------------------*/
.qualification__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;
    gap: 10rem;
}

@media (max-width: 768px) {
  .qualification__wrapper {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

.qualification__wrapper .education__qualification__section {
    height: 50%;
    display: grid;
}

.qualification__wrapper .experience__qualification__section {
  display: grid;
}

.qualification__wrapper .education__qualification__section .qualification__content{ 
  row-gap: 5rem;
  column-gap: 5rem;
}

.qualification__wrapper .experience__qualification__section .qualification__content{
  row-gap: 5rem;
  column-gap: 5rem;
}

.qualification__wrapper .education__qualification__section .qualification__name {
  display: flex;
  column-gap: 1rem;
  font-size: var(--fs-lg);
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.qualification__wrapper .experience__qualification__section .qualification__name {
  display: flex;
  column-gap: 1rem;
  font-size: var(--fs-lg);
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.qualification__item .qualification__subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.education__img {
  border-radius: 0px;
  max-width: 5%;
  height: 5%;
  margin-bottom: 2rem;
}

.qualification__item .qualification__subtitle .qualification__title {
  color: rgb(189, 187, 187);
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  margin-bottom: 2rem;
}

.qualification__description {
  font-size: 1.5rem;
  color: #b2becd;
  margin-bottom: 2rem;
  font-weight: 500;
}
.qualification__description__awards {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2rem;
  font-weight: 500;
}

.qualification__date {
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 0.4rem 0.8rem;
  background-color: #2a2e35;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: 500;
  transform: translateY(-22%);
}

.qualification__footer {
  border-top: 1px solid var(--color-border);
  margin-top: 1rem;
  padding-top: 4rem;
  text-align: center;
}

.qualification__footer-text {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  margin-bottom: 2rem;
}




/* Projects
--------------------------------------------------------------*/
.project__content {
  height: 80%;
  width: 80%;
  max-width: 30rem;
  justify-self: center;
  justify-content: center;
}

.project__content .project__img {
  border: 2px solid rgb(189, 187, 187);
  margin-bottom: 2rem;
  width: 100%;
  height: 50%;
  object-fit: cover; /* Adjusts the image to cover the container while preserving aspect ratio */
}

.project__content .project__title {
  color: var(--color-white);
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
}

.project__content .project__description {
  color: rgb(189, 187, 187);
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.project__content .project__link {
  width: 50%;
  display: inline-block;
  padding: 1rem 1rem;
  color: var(--color-white);
  font-weight: var(--fw-semibold);
  font-size: 1.25rem;
  transition: var(--transition);
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  align-self: center;
  transform: translate(50%, 0%);
}

.project__content .project__link:hover {
  background-color: var(--color-primary-dark);
}







/* Testimonials
--------------------------------------------------------------*/
.testimonial__card {
  background-color: var(--color-bg-secondary);
  box-shadow: var(--box-shadow);
  padding: 3rem 5rem;
  width: 100%;
  max-width: 50rem;
  text-align: center;
  justify-self: center;
  margin-bottom: 2rem;
}

.testimonial__img {
  max-width: 10rem;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 3rem;
}

.testimonial__description {
  color: var(--color-white);
  margin-bottom: 3rem;
}

.testimonial__name {
  font-size: var(--fs-md);
  margin-bottom: 0.5rem;
}

.testimonial__occupation {
  font-size: var(--fs-sm);
}

/* testimonial slide */
.testimonial__wrapper .swiper-wrapper {
  padding-bottom: 5rem;
}

.testimonial__wrapper .swiper-pagination-bullets {
  justify-content: space-around;
}

.testimonial__wrapper .swiper-pagination-bullet {
  background-color: var(--color-text);
  border-radius: 0;
  width: 3rem;
  height: 0.5rem;
}

.testimonial__wrapper .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

/* Contact
--------------------------------------------------------------*/

.contact__wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
}

@media (max-width: 768px) {
  .contact__wrapper {
    grid-template-columns: 1fr; /* Change to a single column */
    grid-gap: 3rem; /* Adjust the gap between items */
  }
}

.contact__wrapper .contact-description {
  gap: 1rem;
  margin-bottom: 3rem;
  width: 100%;
}

.contact-title {
  text-align: center;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 1rem;
  font-size: var(--fs-xxl);
  color: white;
}

.contact-links {
  display: grid;
  row-gap: 3rem;
  column-gap: 2rem;
  color:rgb(189, 187, 187);
  padding: 2rem;
}


.contact-socials {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
}


.contact-socials .socials-title {
  color: white;
  font-size: var(--fs-lg);
  font-weight: 500;
}

.contact-socials .socials-info {
  color: rgb(189, 187, 187);
}

.linkedin_github {
  gap: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-title {
  font-size: var(--fs-xxl);
  font-weight: 800;
  color: white;
  text-align: center;
  padding-bottom: 4rem;
}

.contact__wrapper .contact-form {
  border-radius: 5%;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 15rem;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  font-weight: 500;
  text-align: left;
  font-size: var(--fs-sm);
  color: white;
  padding-left: 1.1rem;
  padding-top: 1rem;
  margin-bottom: -0.2rem;
}

.first-line {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.contact__wrapper .contact-form textarea:focus,
.contact__wrapper .contact-form input:focus {
  border-color: #2a2e35; /* Replace with desired highlight color */
  outline: none; /* Optional: Remove the default browser focus outline */
}

.form-field {
  border-radius: 10px;
  width: 100%;
  background-color: #2a2e35;
  margin-bottom: 2rem;
}

.description-title {
  text-align: left;
  color: var(--color-primary);
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #2a2e35;
  color: white;
  font-size: var(--fs-large);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  width: 100%;
  padding: 1rem;
  border: 1px solid #2a2e35;
  border-radius: 5px;
}

button[type="submit"] {
  display: block;
  width: 30%;
  padding: 1rem;
  border: none; 
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}



/* Footer
--------------------------------------------------------------*/
.footer {
  background-color: var(--color-bg-footer);
  padding: 5rem 0;
}

.footer__wrapper {
  border-bottom: 1px solid var(--color-bg-secondary);
  padding: 5rem 0;
  gap: 5rem;
}

.footer__title {
  font-size: var(--fs-lg);
  margin-bottom: 2rem;
}

.footer__social-list {
  display: flex;
  gap: 3rem;
}

.footer__social-link {
  font-size: 3rem;
  color: var(--color-white);
  transition: var(--transition);
}

.footer__contact {
  font-size: var(--fs-lg);
  color: var(--color-white);
  font-weight: var(--fw-bold);
  text-decoration: underline;
  transition: var(--transition);
}

.footer__social-link:hover,
.footer__contact:hover {
  color: var(--color-primary);
}

.footer__copyright {
  font-size: var(--fs-sm);
  text-align: center;
  padding-top: 3rem;
}





/* Scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}



/* Breakpoints
--------------------------------------------------------------*/

/* Medium devices*/
@media screen and (min-width: 560px) {
  .service__wrapper {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }

  .qualification__content {
    flex-basis: 50%;
  }

  .qualification__footer {
    text-align: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .qualification__footer-text {
    margin: 0;
  }

  .project__wrapper {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }

  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero__content {
    text-align: initial;
  }

  .hero__title::after {
    transform: none;
    left: 0;
  }

  .hero__info {
    justify-content: initial;
  }

  .hero__img {
    justify-self: flex-end;
    width: 80%; /* Adjust the percentage as needed */
    max-width: 1000px;
  }

  .project__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

}





/* Large devices */

@media screen and (min-width: 968px) {

  .about__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__content {
    margin: 0;
  }

  .about__content,
  .skills__title {
    text-align: initial;
  }

  .qualification__content
  .project__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .contact__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact__content {
    margin: 0;
    text-align: initial;
  }

  .footer__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}